* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.nav-head {
    background-color: #000000;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
        justify-content: space-between;
    height: 10%;
    position: fixed;
    top: 0;
    left: 0;
}
 p a:hover{
    letter-spacing: 3px;
}
.img-head {
    position: relative;
    animation-name: logo;
    animation-delay: 10s;
    animation-fill-mode: forwards;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-duration: 10s;

    animation-timing-function: linear;
}

@keyframes logo {
    0% {
        left: 0px;
        top: 0px;
    }

    50% {
        left: -200px;
        top: 0px;
    }

    100% {
        left: 0px;
        top: 0px;
    }

}
#skip a {
        background: linear-gradient(90deg, #00ff99 0%, #00ccff 100%);
    font-size: 20px;
    text-decoration: none;
    margin-right: 50px;
        border-radius: 15px;
        border: 1px solid #00ff99;
                                padding: 4px;
                    padding-left: 10px;
                        padding-right: 10px;
    letter-spacing: 5px;
    color: #000000;
}

#skip a:hover {
    background: linear-gradient(90deg, #ffffff 0%, #ffffff 100%);
    color: #000000;
    border-radius: 15px;
    border: 1px solid #00ccff;

    outline: 1px solid #00ff99;
}
